<ion-menu side="start" menuId="primerMenu" contentId="principal">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
       
        <ion-item (click)="verHome();">Inicio</ion-item>
        <ion-item (click)="verPicks();">Picks</ion-item>
        <ion-item (click)="logout();"><ion-icon slot="icon-only" name="log-out"></ion-icon>Logout</ion-item>
      

      </ion-list>
    </ion-content>
  </ion-menu> 