<app-header></app-header>

  
  <ion-content color="">
    <form  #form="ngForm" (ngSubmit)="postData(nombre,correo,telefono)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center padding>
              <h3 style="color:black;">Total Hoy:0</h3>
            </div>
            <div padding>
              <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                <ion-input  name="nombre" type="text" placeholder="" [(ngModel)]="nombre" required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">E-mail</ion-label>
                <ion-input name="correo" type="email" placeholder="" [(ngModel)]="correo" required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Telefono</ion-label>
                <ion-input name="telefono" type="text" placeholder="" [(ngModel)]="telefono" required></ion-input>
              </ion-item>
             <!-- <ion-item>
                <ion-input name="deviceToken" type="text" placeholder="deviceToken" [(ngModel)]="deviceToken" value="{{tokensito2}}" required></ion-input>
              </ion-item> -->
            </div>
            <div padding>
              
                <!-- Tokensito: {{tokensito2}} 
                <ion-button expand="full"  (click)="obtenerToken()">Obtener Token</ion-button>
                <ion-button expand="full"  (click)="obtenerToken2()">Obtener TokenRefresh</ion-button>
                --><ion-button  expand="full"  type="submit"  >Enviar</ion-button>
              
            </div>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    
    </form>
  </ion-content>
  
     
     
  
    
  
<!--




  
<ion-content color="#00262B">
  <div class="ion-padding">
      <ion-card>
          <ion-card-header>
            
            <ion-thumbnail >
                <img src="http://nowipicks.com/push/template/images/user.png">
              </ion-thumbnail>
            <ion-card-title>Sistema de Notificaciones</ion-card-title>
         
          </ion-card-header>
        
          <ion-card-content style="color:white;">
           Bienvenido a Nowi Picks, sistema en donde podra recibir notificaciones en tiempo real en su iPhone. Haga click en el siguiente botón para ver los PICKS del dia.
          </ion-card-content>
          <ion-button  (click)="verPicks();" expand="block">PICKS</ion-button>
        </ion-card>
        </div>
</ion-content>-->
