ion-card{
    display: flex;
    flex-direction: column;
    margin: 0 !important;

    width: 500px;
  }

ion-content ion-card{

width: 100%;
}

ion-card-header {
  /*background-color: #E0EF07;*/
  padding:10px;
}

.amarillo {
   background-color: #C2D102;
}

.oscuro {
  background-color: #2A3F54;
  color:#fff;
}

.blanco {
color:#fff;

}