<app-header></app-header>
    
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  

        <!--<button ion-button (click)="postData()">Post Data</button>-->
      <ion-list>
        <ion-item *ngFor="let item of items">
            <ion-card>
                <ion-card-header class="{{item.notification_color}}">
                  
                  
                  <ion-card-title center text-left class="blanco">  <ion-icon name="{{item.notification_icon}}"></ion-icon> {{item.notification_title}}</ion-card-title>
                </ion-card-header>
               <ion-card-content >
                    <div center text-center [innerHtml]="item.notification_text"></div>
                </ion-card-content>
                <ion-row class="cardfooter">
                    <ion-col>
                        <ion-card-subtitle center text-center>{{item.notification_date}}</ion-card-subtitle>
                    </ion-col>
                  </ion-row>
              </ion-card>
       </ion-item>
  


  
       
      </ion-list>
    
    </ion-content>
